<a href="/">Home Page</a>
<tr>
<table>
<thead>
  <tr>
    <th>Name          </th>
    <th>Budget        </th>
    <th>Overdraft     </th>
    <th>Exceeded Budget     </th>
  </tr>
</thead>
</table>
  </tr>
    <% @users.each do |user| %>
  
      <td> <%= user.name %> </td>
      <td> <%= sprintf("%.2f",user.budget)%> </td>
      <td> <%= sprintf("%.2f",user.overdraft_limit)%> </td>
      <td> <%= user.budget_overspend_flag %></td>

    <br>
    <a href="/users/<%= user.id %>/edit">Update Your Details</a>

    <% end %>


