<table>
<thead>
  <tr>
    <th>Name          </th>
    <th>Budget        </th>
    <th>Overdraft     </th>
    <th>Budget Exceeded     </th>
  </tr>
</thead>
 
    <% @users.each do |user| %>
  <tr>
      <td> <%= user.name %> </td>
      <td> <%= sprintf("%.2f",user.budget)%> </td>
      <td> <%= sprintf("%.2f",user.overdraft_limit)%> </td>
      <% if user.budget_overspend_flag == 0 %>
        <td> <%= 'NO' %></td>
      <%else%>
        <td> <%= 'YES' %></td>
      <%end%>

      <br>
      <a href="/users/<%= user.id %>/edit">Update Your Details</a>
  <tr>
    <% end %>    
</table>
<a href="/">Home Page</a>