
<table>
<thead>
  <tr>
    <th>Name          </th>
    <th>Budget        </th>
    <th>Transaction   </th>
    <th>Overdraft     </th>
    <th>Overspent     </th>
  </tr>
</thead>
  </tr>
    <% @users.each do |user| %>
  
      <td> <%= user.name %> </td>
      <td> <%= sprintf("%.2f",user.budget)%> </td>
      <td> <%= user.transaction_id %></td>
      <td> <%= sprintf("%.2f",user.overdraft_limit)%> </td>
      <td> <%= user.budget_overspend_flag %></td>
    </tr>
    <% end %>